<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>

  <div class="container-row ">
    <div class="row board-background-head">
      <div class="col heading-text">
        <h2 class="big-head">EduLIBER Advisory Board</h2>
        <p>EduLIBER Advisory Board is a group of multilingual, multicultural educators and students collectively driven to advance equity and access for all culturally and linguistically diverse learners.</p>
      </div>
    </div>

    <section id="Board-Member-Info">

      <div class="row body-margins">

        <%- include("partials/board_member_open") -%>
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/MiaAllenHeadshot.jpg" alt="Mia Allen Headshot">
          <h2>Mia Ariela Allen</h2>
            <h3>-Founder</h3>
        
        <%- include("partials/board_member_close") -%>
        <%- include("partials/board_member_open") -%>
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/BethSkeltonHeadshot.png" alt="Beth Skelton Headshot">
          <h2>Beth Skelton</h2>
            <h3>-Chair</h3>
        <%- include("partials/board_member_close") -%>

        <%- include("partials/board_member_open") -%>
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/ChandaAustinHeadshot.png" alt="Chanda Austin Headshot">
          <h2>Chanda Austin</h2>
            <h3>-Member</h3>
        <%- include("partials/board_member_close") -%>

        <%- include("partials/board_member_open") -%>
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/MarcBLiebmanHeadshot.png" alt="Marc B Liebman Headshot">
          <h2>Marc B. Liebman</h2>
            <h3>-Friend of the Board</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/ErinLymanHeadshot.png" alt="Erin Lyman Headshot">
          <h2>Erin Lyman</h2>
            <h3>-Treasurer</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/IsraaHusseinHeadshot.png" alt="Israa Hussein Headshot">
          <h2>Israa Hussein</h2>
            <h3>-Member</h3>
          <%- include("partials/board_member_close") -%>


          <%- include("partials/board_member_open") -%>
          <h2>Joshua Allen</h2>
            <h3>-Friend of the Board</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
          <h2>Jennifer Archuleta</h2>
            <h3>-Secretary</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
          <h2>Heather Roberton-Devine</h2>
            <h3>-Member</h3>
          <%- include("partials/board_member_close") -%>

      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
