<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">


  <style type="text/css">
    #Board-Member-Info a, a:hover{
      color: black;
      text-decoration: none;
    }
  </style>
</head>


<body>

  <%- include("partials/header") -%>

  <div class="container-row ">
    <div class="row board-background-head">
      <div class="col heading-text">
        <h2 class="big-head">EduLIBER Advisory Board</h2>
        <p>EduLIBER Advisory Board is a group of multilingual, multicultural educators and students collectively driven to advance equity and access for all culturally and linguistically diverse learners.</p>
      </div>
    </div>

    <section id="Board-Member-Info">

      <div class="row body-margins">

        <%- include("partials/board_member_open") -%>
          <a href="board/Mia-Allen"><img class="board-member-image .img-fluid" src="/images/eduliberheadshots/MiaAllenHeadshot.jpg" alt="Mia Allen Headshot"></a>
          <a href="board/Mia-Allen"> <h2>Mia Ariela Allen</h2></a>
            <h3>-Founder</h3>

        <%- include("partials/board_member_close") -%>
        <%- include("partials/board_member_open") -%>
          <a href="board/Beth-Skelton"> <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/BethSkeltonHeadshot.png" alt="Beth Skelton Headshot"></a>
        <a href="board/Beth-Skelton"> <h2>Beth Skelton</h2></a>
            <h3>-Chair</h3>
        <%- include("partials/board_member_close") -%>

        <%- include("partials/board_member_open") -%>
        <a href="board/Chanda-Austin">  <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/ChandaAustinHeadshot.png" alt="Chanda Austin Headshot"></a>
        <a href="board/Chanda-Austin">  <h2>Chanda Austin</h2></a>
            <h3>-Member</h3>
        <%- include("partials/board_member_close") -%>

        <%- include("partials/board_member_open") -%>
          <a href="board/Marc-Liebman"> <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/MarcBLiebmanHeadshot.png" alt="Marc B Liebman Headshot"></a>
          <a href="board/Marc-Liebman"> <h2>Marc B. Liebman</h2></a>
            <h3>-Friend of the Board</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
          <a href="board/Erin-Lyman"><img class="board-member-image .img-fluid" src="/images/eduliberheadshots/ErinLymanHeadshot.png" alt="Erin Lyman Headshot"></a>
          <a href="board/erin-lyman"><h2>Erin Lyman</h2></a>
            <h3>-Treasurer</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
          <a href="board/Israa-Hussein"><img class="board-member-image .img-fluid" src="/images/eduliberheadshots/IsraaHusseinHeadshot.png" alt="Israa Hussein Headshot"></a>
          <a href="board/Israa-Hussein"><h2>Israa Hussein</h2></a>
            <h3>-Member</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
            <a href="board/Joshua-Allen"><h2>Joshua Allen</h2></a>
          <h3>-Friend of the Board</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
          <a href="board/Jennifer-Archuleta"><h2>Jennifer Archuleta</h2></a>
            <h3>-Secretary</h3>
          <%- include("partials/board_member_close") -%>

          <%- include("partials/board_member_open") -%>
          <h2>Heather Robertson-Devine</h2>
            <h3>-Member</h3>
          <%- include("partials/board_member_close") -%>

      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
