<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>eduLIBER ｜ New York</title>
  <link rel="icon" type="image/png" href="images/eduLIBER v1 Big.png">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/statestyles.css">


  <!-- FONT & FONT AWESOME -->
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://kit.fontawesome.com/4250429874.js" crossorigin="anonymous"></script>

</head>

<body>

<!-- INCLUDES HEADER FROM views/header.ejs -->
<%- include("header") -%>

  <!-- STATE HEADING -->
  <section id="state-heading">

    <div class="container-fluid state-heading">
      <div class="row">

        <div class="col-6 state-columns">
          <h3 class="state-heading-links">
            <a href="#">< Back to Map</a></h3>


              <img class="state-image"src="images/newyork.png" alt="">

              <% Object.keys(records).forEach(function(key, index){ const record = records[key] %>

                <h1><%= record['Hierarchy Type'] %><%= record.Description %></h1>

              <% }) %>

        </div>

        <!-- JUMP TO  -->
        <div class="col-6 state-columns">
          <h3>Jump To:</h3>
          <ul>
            <li class="state-heading-links"><a href="#covid_resources">COVID-19 Resources</a></li>
            <li class="state-heading-links"><a href="#departments_of_education">Departments of Education</a></li>
            <li class="state-heading-links"><a href="#departments_of_cultural">Departments of Cultural and Linguistic Diversity</a></li>
            <li class="state-heading-links"><a href="#program_resources">Program Resources</a></li>
            <li class="state-heading-links"><a href="#tests_for_ells">Tests For English Language Learners</a></li>
            <li class="state-heading-links"><a href="#ny_doe">NY DOE ELD Framework</a></li>
          </ul>
        </div>
      </div>
    </div>

  </section>

  <section id="covid-resources">
    <div class="container covid-resources">
      <div class="row">
        <div class="col">
          <h2 id="covid_resources"class="covid-heading"><i class="fas fa-virus"></i> <%= records.covid_resources.Description %></h2>
        </div>
      </div>

    <div class="row">


        <div class="col-6">
          <h2>COVID Updates</h2>
          <h3>New York City Department of Education</h3>
          <ul>
            <li>Chosing Remote Instruction for Fall</li>
            <li>Welcome to the 2020-2021 School Year</li>
          </ul>
        </div>

        <div class="col-6">
          <h2>Serving ELLs During COVID</h2>
          <h3>New York City Department of Education</h3>
          <ul>
            <li>Equity and Excellence: Our Continued Commitment</li>
            <li>Welcome to the 2020-2021 School Year</li>
          </ul>
        </div>

          </div>
      </div>
    </div>

  </section>

  <section id="contents">
    <div class="container-fluid main-content">

      <!-- DEPARTMENT OF EDUCATION WITHOUT SUBHEADINGS -->

      <div class="row">
        <div class="col">

          <!-- JUMP TO ID -->
          <h2 id="departments_of_education">Departments of Education</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ul>
            <li>New York State Department of Education</li>
            <li>New York City Department of Education</li>
          </ul>
        </div>
      </div>


      <!-- EJS IS COMMENTTED OUT HERE -->
            <div class="row">
              <%# records.covid_resources.children.forEach(function(child) { %>
                <div class="col-6">
                  <h2><%# child.Description %></h2>
                  <h3>New York City Department of Education</h3>
                  <ul>
                    <li>Chosing Remote Instruction for Fall</li>
                    <li>Welcome to the 2020-2021 School Year</li>
                  </ul>
                </div>
              <%# }) %>

      <div class="row">
        <div class="col">

          <!-- JUMP TO ID -->
          <h2 id="departments_of_cultural">Departments of Cultural and Linguistic Diversity</h2>
          <h3>New York City Department of Education-Multilingual Learners</h3>
          <ul>
            <li>Multilingual Learners Department Home</li>
            <li>Regulations Concertning English Language Learner/Multilingual Learners</li>
          </ul>
        </div>
      </div>



      <!-- THIS IS A BASIC CHUNK OF INFORMATION -->
      <section id="CHUNK">


        <div class="row">
          <div class="col">
            <!-- JUMP TO ID -->
            <h2 id="program_resources">Program Resources</h2>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h3>New York City Department of Education</h3>
            <ul>
              <li>Program Model Information(Dual Language, Transitional Bilingual Education, English as a New Language)</li>
              <li>College-Career Readiness for English Language Learners</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h3>New York State Department of Education</h3>
            <ul>
              <li>English Language Proficiency Growth Webinar</li>
              <li>Scaffolding Instruction for English Language Learners</li>
            </ul>
          </div>
        </div>


      </section>


      <div class="row">
        <div class="col">
          <!-- JUMP TO ID -->
          <h2 id="tests_for_ells">Tests For English Language Learners</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3>New York City Department of Education</h3>
          <ul>
            <li>Tests for English Language Learners</li>
          </ul>
        </div>
      </div>

<!-- ENCLOSE THIS -->
  <div class="container-fluid main-content">
      <div class="row">
        <div class="col">
          <!-- JUMP TO ID -->
          <h2 id="ny_doe">NY DOE ELD Framework</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3>New York State Department of Education</h3>
          <ul>
            <li>Every Student Suceeds Act; FAQs on Incorperating ELL/MLL Progress into the NYSED Accountability System</li>
          </ul>
        </div>
      </div>
  </div>



    </div>
  </section>
<!-- INCLUDES FOOTER FROM views/header.ejs -->
<%- include("footer") -%>
</html>
