<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

<%- include("partials/head") -%>
<link rel="stylesheet" href="styles/statestyles.css">
</head>

<body>

<%- include("partials/header") -%>

  <!-- STATE HEADING -->
  <section id="state-heading">

    <div class="container-fluid state-heading">
      <div class="row">

        <div class="col-6 state-columns">
          <h3 class="state-heading-links">
            <a href="#">< Back to Map</a></h3>
              <img class="state-image"src="images/newyork.png" alt="">
              <h1><%= records.state_details.Description %></h1>
        </div>

        <!-- JUMP TO  -->
        <div class="col-6 state-columns">
          <h3>Jump To:</h3>
          <ul>

            <% hierarchy.general_resources.children.forEach(function(record){  %>
            <li class="state-heading-links"><a href="#<%= record.tag %>"><%= record.description %></a></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>

  </section>


<!-- TODO: ACCOUNT FOR NO COVID RESOURCES OR NO SERVING ELLS -->
  <section id="covid-resources">
    <div class="container covid-resources">
      <div class="row">
        <div class="col">
          <h2 id="covid_resources"class="covid-heading"><i class="fas fa-virus"></i> <%= records.covid_resources.Description %></h2>
        </div>
      </div>


  <div class="row">
          <% hierarchy.covid_resources.children.forEach(function(record){  %>
          <div class="col-6">
            <h2 id = "<%= record.tag %>"><%= record.description %></h2>
            <% if(record.children.length > 0) { %>
              <% record.children.forEach(function(child) {  %>
                <% if (child.type === 'section_subtitle') { %>
                  <h3><%= child.description %></h3>
                    <% child.children.forEach(function(grandchild) {  %>
                      <% if (grandchild.link) { %>
                        <!-- link -->
                        <ul>
                          <a href="<%= grandchild.link%>">
                            <li><%= grandchild.description %></li>
                          </a>
                        </ul>
                      <% } %>
                    <% }) %>
                <% } %>
                <% if (child.type === 'section_link') { %>
                        <!-- link -->
                        <ul>
                          <a href="<%= child.link%>">
                            <li><%= child.description %></li>
                          </a>
                        </ul>
                <% } %>
              <% }) %>
            <% } %>
              </div>
          <% }) %>
          </div>
      </div>
  </section>

  <section id="contents">
    <div class="container-fluid main-content">

      <!-- DEPARTMENT OF EDUCATION WITHOUT SUBHEADINGS -->


      <div class="row">
        <div class="col">
          <% hierarchy.general_resources.children.forEach(function(record){  %>
            <h2 id = "<%= record.tag %>"><%= record.description %></h2>
            <% if(record.children.length > 0) { %>
              <% record.children.forEach(function(child) {  %>
                <% if (child.type === 'section_subtitle') { %>
                  <h3><%= child.description %></h3>

                    <% child.children.forEach(function(grandchild) {  %>
                      <% if (grandchild.link) { %>
                        <!-- link -->
                        <ul>
                          <a href="<%= grandchild.link%>">
                            <li><%= grandchild.description %></li>
                          </a>
                        </ul>
                      <% } %>
                    <% }) %>
                <% } %>
                <% if (child.type === 'section_link') { %>
                        <!-- link -->
                        <ul>
                          <a href="<%= child.link%>">
                            <li><%= child.description %></li>
                          </a>
                        </ul>
                <% } %>
              <% }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
  </section>

<!-- INCLUDES FOOTER FROM views/header.ejs -->
<%- include("partials/footer") -%>
</html>
